@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&family=Staatliches&display=swap");
* {
  scrollbar-width: thin;
  scrollbar-color: #fb725b #111111;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #111111;
}

*::-webkit-scrollbar-thumb {
  background-color: #fb725b;
  border-radius: 20px;
  border: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111111;
  color: white;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-moz-selection {
  background-color: #fb725b;
}

body::selection {
  background-color: #fb725b;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection {
  background-color: #fb725b;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background-color: #fb725b;
}

b {
  color: #fb725b;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 100rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #111111;
  border-bottom: 0.3rem solid #181818;
  height: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  margin: auto;
  z-index: 5;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 40%;
  padding-left: 1.5rem;
}

.navbar__menu li a {
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 2rem;
  text-decoration: none;
}

.navbar__menu li a:hover {
  color: #fb725b;
  border-bottom: 0.2rem solid #fb725b;
}

@media screen and (max-width: 500px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 2rem 0 0;
}

.navbar__social li a {
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar__social li a:hover {
  color: #fb725b;
}

@media screen and (max-width: 500px) {
  .navbar__social {
    margin: 0;
  }
}

.navbar .btn__menu {
  background: none;
  border: none;
  display: none;
  color: white;
  font-size: 1.5rem;
  margin: 0 1rem;
}

@media screen and (max-width: 500px) {
  .navbar .btn__menu {
    display: block;
  }
}

.navbar .btn__menu-close {
  position: absolute;
  font-size: 1.5rem;
  top: 1.1rem;
  left: 1.1rem;
  z-index: 2;
  color: white;
  background-color: transparent;
  border: none;
  display: none;
}

.navbar .btn__menu-close.active {
  display: block;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}

.navbar__menu-responsive {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  background-color: #111111;
  width: 100%;
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  display: none;
}

.navbar__menu-responsive li {
  text-align: center;
  margin: 1rem 0;
}

.navbar__menu-responsive li a {
  color: white;
  text-decoration: none;
}

.navbar__menu-responsive.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar .translate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .translate button {
  border: none;
  background: none;
  color: #323232;
  cursor: pointer;
}

.navbar .translate button.active {
  color: #323232;
  color: #989898;
}

.home {
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  position: relative;
}

@media screen and (max-width: 500px) {
  .home {
    min-height: calc(100vh - 4.5rem);
  }
}

.home div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home div h1 {
  color: #fb725b;
  font-size: 5rem;
  font-weight: bold;
  margin: 0 0 -1rem;
}

@media screen and (max-width: 500px) {
  .home div h1 {
    font-size: 3.5rem;
  }
}

.home div p {
  color: #fb725b;
  margin: 1rem 0 1.5rem;
}

.home img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 5rem;
  border-radius: 40%;
}

.home .buttons-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .buttons-social a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  border: 1px solid white;
  margin: 0 1rem 0 0;
  padding: 0.4rem 0.8rem;
}

.home .buttons-social a:hover {
  opacity: 0.6;
}

.home .scroll-text {
  position: absolute;
  text-transform: uppercase;
  right: -5%;
  top: 40%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0.4;
}

h2 {
  margin: 0;
  font-family: 'Staatliches', cursive;
  font-size: 15rem;
  opacity: 0.1;
  margin-top: 5rem;
  margin-bottom: -2rem;
  text-transform: uppercase;
  overflow: hidden;
  word-wrap: break-word;
}

@media screen and (max-width: 942px) {
  h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}

.about {
  margin: auto;
}

.about p {
  width: 60%;
}

.about h2 {
  margin-top: 0;
}

.about h4 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.about .technologies {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about .technologies i {
  margin: 0 2rem 0 0;
}

.about ul {
  margin: 0;
  list-style: square;
  padding-left: 1.1rem;
}

.about ul li {
  margin: 0;
}

.projects div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project_card {
  display: block;
  margin: 1rem 0;
  margin-right: 3rem;
  width: 30rem;
  border-radius: 1rem;
  background-color: #101010;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #5c5c5c;
}

.project_card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
}

.project_card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.project_card .info h4 {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0.6rem;
  line-height: 3rem;
}

.project_card .info p {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.project_card .info:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  max-width: 45rem;
}

.contact form input, .contact form textarea {
  background: none;
  padding: 0.5rem;
  border: 1px solid #292929;
  color: white;
  border-radius: 0.5rem;
  margin: 1rem 0;
  font-family: 'Poppins', sans-serif;
}

.contact form input:focus, .contact form textarea:focus {
  outline: none;
  border: 1px solid #fb725b;
}

.contact form input:not(:placeholder-shown):invalid, .contact form textarea:not(:placeholder-shown):invalid {
  border: 1px solid rgba(162, 7, 7, 0.816);
}

.contact form textarea {
  resize: none;
}

.contact form button {
  display: block;
  width: 40%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #fb725b;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}

.contact form button:hover {
  opacity: 0.5;
}

.project {
  padding-top: 4rem;
}

.project h1 {
  color: #fb725b;
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .project h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
}

.project h2 {
  margin: 0;
  font-size: 5rem;
}

@media screen and (max-width: 954px) {
  .project h2 {
    font-size: 4rem;
  }
}

.project p {
  max-width: 80rem;
}

.project a {
  margin: 0 1rem 0 0;
  background-color: #fb725b;
  color: white;
  text-decoration: none;
  padding: 0.2rem;
  border-radius: 0.4rem;
}

.project a i {
  margin: 0 0.2rem;
}

.project .screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.project .screenshots img {
  width: 80%;
  margin: 1rem 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.notfound {
  padding-top: 4rem;
  text-align: center;
}

.notfound h1 {
  color: #fb725b;
  font-size: 4rem;
  margin: 2rem 0 0;
}

.notfound p {
  margin: 0;
}

.notfound a {
  display: block;
  width: 5rem;
  color: white;
  text-decoration: none;
  background-color: #fb725b;
  padding: 0.2rem;
  margin: 2rem auto;
  border-radius: 0.2rem;
}

footer {
  text-align: right;
  margin: 1rem 1rem 0 0;
}

footer p {
  color: #292929;
  display: inline-block;
  margin: 0 0.5rem;
  font-style: italic;
}
/*# sourceMappingURL=index.css.map */